@media screen and (min-width: 768px) {
    main.content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .main-content .home-title {
        grid-column: 1 / -1;
        text-align: center;
    }

    #main-nav ul {
        display: flex;

    }
}
    h1{
        margin-right: auto;
    }
  
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end; 
    }
    
    nav ul li {
        margin: 0 1rem;
    }
    
    nav ul li a {
        color: #6df7f0;
        text-decoration: none;
        font-size: larger;    
    } 
    .menu-toggle{
        visibility: hidden;
        display: none;
    }

    #main-nav {
        display: flex; 
        align-items: center; 
    }

    #main-nav ul li a {
        color: rgb(248, 248, 248);
        text-decoration: none;
        padding: 10px; 
    }
        
    #main-nav ul li a:hover {
        background-color:rgb(80, 198, 245); 
}